body {
  margin-left: 0px;
  margin-right: 0px;
}

header {
  display: flex;
  border-bottom: 1px black solid;
  font-family: Verdana;
  Font-size: 14px;
  Font-weight: bold;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
}

.logo span {
  padding-left: 15px;
}

.logo {
  display: flex;
  color: mediumaquamarine;
  align-items: center;
  padding-left: 15px;
  margin: 0px;
}

.nav a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  padding: 0px 10px;
}

div {
  border: 1px black solid;
}

.main.container {
  background-color: black;
  display: inline-flex;
  border: 1px black solid;
  width: 900px;
  align-items: space-between;
}

.column.large {
  display: flex;
  width: 630px;
  border: 1px black solid;
  }

.column.medium {
  display: flex;
  width: 340px;
}

.column.small {
  width: 200px;
}
