body {
  margin-left: 0px;
  margin-right: 0px;
}

header {
  display: flex;
  border-bottom: 1px black solid;
  font-family: Verdana;
  Font-size: 14px;
  Font-weight: bold;
  padding-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
}

.logo span {
  padding-left: 15px;
}

.logo {
  display: flex;
  color: mediumaquamarine;
  align-items: center;
  padding-left: 15px;
  margin: 0px;
}

.nav a {
  text-decoration: none;
  color: black;
  text-decoration: underline;
  padding: 0px 10px;
}

div {
  border: 1px black solid;
}

.main-container {
  display: flex;
  border: 1px black solid;
  width: 100%;
  align-items: space-around;
  margin-top: 30px;
}

.column-large {
  width: 630px;
  border: 1px black solid;
  margin: 0 12px;
  }

.column-medium {
  width: 340px;
  margin: 0 12px;
}

.column-small {
  width: 240px;
  margin: 0 12px;
}

.column-section {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

}
